.tweets {}

.tweet-card {
    margin-top           : 4rem;
    padding              : 1rem;
    display              : grid;
    grid-template-columns: 1fr 9fr;
    border-bottom        : 0.9rem solid var(--border);
    border-top           : 0.3rem solid var(--border);
    border-left          : 0.3rem solid var(--border);
    border-right         : 0.6rem solid var(--border);
    border-radius        : 23px;


}

.tweet-card .left
{
    padding-top    :0.6rem;
    padding-left   :0.8rem;
}

.tweet-card .right {
    padding: 0 1 0 1rem;
}

.tweet-card .tweet-card-head .tweet-card-name {
    font-size    : 2rem;
    font-weight  : 700;
    padding-right: 1rem;
}

.tweet-card .tweet-card-head .tweet-card-name:hover {
    text-decoration: underline;
}

.tweet-card .tweet-card-head .tweet-card-handle,
.tweet-card-time {
    font-size: 2rem;
    color    : var(--grey);
}

.tweet-card .tweet-card-body .tweet-card-content p {
    font-size : 1.8rem;
    margin-top: .9rem;
    margin-top: .9rem;
}

.tweet-card .tweet-card-body .tweet-card-image {
    margin-top: 2rem;
}

.tweet-card .tweet-card-body .tweet-card-image img {
    width        : 100%;
    border-radius: 20px;
}

.tweet-card .tweet-card-footer {
    padding-right  : 10rem;
    display        : flex;
    justify-content: space-between;
    padding-top    : 1rem;
}

.tweet-card .tweet-card-footer svg {
    fill : var(--grey);
    width: 2.5rem;
}

.tweet-card .tweet-card-footer{
    margin-top             : 2rem;
    height                 :0px;
    border-radius          :13px;
    background-color       : var(--card-background);
    padding-left           : 1rem;
}